.input {
  appearance: none;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-size: var(--font-size-m);
  padding: 0.75em 1em;
  border: none;
  border-radius: 10px;
  box-shadow: var(--neumorphism-shadow-hover);
  width: 100%;
}

.input:focus-visible {
  outline: 2px solid var(--theme-primary);
  outline-offset: 2px;
}
