@keyframes load {
  0% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }

  80% {
    box-shadow: 0 0;
    height: 4em;
  }

  100% {
    box-shadow: 0 0;
    height: 4em;
  }
}

.container {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: var(--bg-primary);
}

.loader {
  color: var(--theme-primary);
  text-indent: -9999em;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 10;
  font-size: 1rem;
  transform: translateZ(0);
  animation-delay: -0.16s;
  background-color: var(--theme-primary);
  animation: load 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: "";
  background-color: var(--theme-primary);
  animation: load 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader::before {
  left: -1.5em;
  animation-delay: -0.32s;
}

.loader::after {
  left: 1.5em;
  animation-delay: -0.32s;
}