@layer feature {
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--bg-primary);
    box-shadow: 0 6px 20px #c5c7cc;
  }

  :global([data-theme="dark"]) .header {
    box-shadow: 0 6px 20px #060708;
  }

  @media (prefers-color-scheme: dark) {
    :global(:root:not([data-theme="light"])) .header {
      box-shadow: 0 6px 20px #060708;
    }
  }

  .headerInner {
    display: grid;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 44px 1fr 56px;
    width: 100%;
    max-width: calc(var(--page-width) + 40px);
    margin: 0 auto;
    padding: 0.875rem clamp(1.25rem, 0.732rem + 2.21vw, 2.5rem);
  }
}
