@layer feature {
  .link {
    display: block;
    text-decoration: none;
    color: var(--text-primary);
    font-size: clamp(1rem, 0.9482rem + 0.221vw, 1.125rem);
  }

  .img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid var(--black);
    border-radius: 10px;
  }
}
