@layer feature {
  .container {
    margin-top: 0;
  }

  .inner {
    margin-top: 2.5rem;
  }

  .name {
    font-size: clamp(1rem, 0.948rem + 0.221vw, 1.125rem);
    font-weight: 700;
    padding-left: 0.75em;
    border-left: 2px solid var(--theme-primary);
  }

  .description {
    font-size: var(--font-size-m);
    margin-top: 1.5rem;
  }

  .list {
    display: grid;
    gap: clamp(0.938rem, 0.808rem + 0.55vw, 1.25rem);
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .item {
    display: grid;
    place-content: center;
    gap: 0.75em;
    padding: 1em 0.5em;
    color: var(--text-primary);
    font-size: var(--font-size-s);
    font-weight: 500;
    text-align: center;
    aspect-ratio: 1;
    border-radius: 14px;
    background-color: var(--bg-primary);
    box-shadow: var(--neumorphism-shadow);
  }

  .icon {
    display: block;
    width: 100%;
    max-width: 40px;
    height: auto;
    margin-inline: auto;
    aspect-ratio: 1;
  }

  @media screen and (width >= 1080px) {
    .container {
      display: grid;
      gap: clamp(2.5rem, 1.982rem + 2.2099vw, 3.75rem);
      grid-template-columns: repeat(2, 1fr);
      margin-top: 2rem;
    }

    .inner {
      margin-top: 0;
    }

    .list {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}
