@import "kiso.css" layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');
@layer reset, variables, base, components, utilities;

@layer variables {
  :root {
    scrollbar-gutter: stable;
    --page-width: 1280px;
    --font-roboto: 'Roboto', sans-serif;
    --font-noto-sans: 'Noto Sans JP', sans-serif;
    --font-size: 16;
    --white: #fff;
    --black: #333;
    --shadow: rgba(0, 0, 0, 0.1);
    --text-primary: #333;
    --bg-primary: #fff;
    --theme-primary: #ff7e0f;
  }
  
  :root[data-theme="light"] {
    --shadow: rgba(0, 0, 0, 0.1);
    --text-primary: #333;
    --bg-primary: #fff;
    --theme-primary: #ff7e0f;
  }
  
  :root[data-theme="dark"] {
    --shadow: rgba(255, 255, 255, 0.1);
    --text-primary: #fff;
    --bg-primary: #1E2022;
    --theme-primary: #224F6D;
  }

  @media (prefers-color-scheme: dark) {
    :root {
    --shadow: rgba(255, 255, 255, 0.1);
      --text-primary: #fff;
      --bg-primary: #1E2022;
      --theme-primary: #224F6D;
    }
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  dialog {
    display: grid;
    justify-content: safe center;
    background-color: transparent;
    overflow: auto;
    overscroll-behavior: contain;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0;
    border: none;
    background: none;
    margin: auto;
    transition: all 0.3s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  dialog::-webkit-scrollbar {
    display: none;
  }

  :where(dialog)::backdrop {
    background-color: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    transition: all 0.3s ease;
  }
  
  body {
    font-family: var(--font-noto-sans);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
  }

  main {
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  button {
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    appearance: none;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  dd {
    margin: 0;
  }

  @media (any-hover: hover) {
    a,
    button {
      transition: opacity 0.3s ease;
    }

    a:hover,
    button:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}