@layer components {
  .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    width: fit-content;
    min-width: 100px;
    padding: 0.8em 1.6em;
    font-size: var(--font-size-m);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border-radius: 6px;
    backdrop-filter: blur(2px);
    text-decoration: none;
    box-shadow: var(--neumorphism-btn);
    transition: all 0.3s ease;
  }

  .button::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--neumorphism-btn-hover);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    .button:hover {
      opacity: 1;
      box-shadow: none;
    }

    .button:hover::after {
      opacity: 1;
    }
  }
}
