.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  min-width: 100px;
  padding: 6px;
  color: var(--white);
  background-color: transparent;
  backdrop-filter: blur(2px);
  text-decoration: none;
  border: 1px solid var(--white);
  border-radius: 6px;
}