@layer page {
  
  @media screen and (width >= 1080px) {
    .container {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: flex-start;
      gap: clamp(2.5rem, 1.982rem + 2.2099vw, 3.75rem);
    }
  }
}

@layer overwrite {
  .aside {
    margin-top: 3rem;
  }

  @media screen and (width >= 1080px) {
    .aside {
      width: 100%;
    }
  }
}