@layer feature {
  .link {
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 15px;
    box-shadow: var(--neumorphism-shadow);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    text-decoration: none;
  }

  .link::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--neumorphism-shadow-hover);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .post {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: auto;
    gap: 1em;
    height: 100%;
    padding: 1em;
  }

  .postInner {
    display: grid;
    gap: 0.25em;
    margin-top: 1em;
    order: 1;
  }

  .title {
    color: inherit;
    font-size: var(--font-size-m);
    font-weight: 500;
  }

  .eyecatch {
    display: block;
    order: 2;
  }

  .thmubnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }

  @media screen and (width > 580px) {
    .post {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 0;
    }

    .postInner {
      order: 2;
    }

    .eyecatch {
      order: 1;
    }
  }

  @media (any-hover: hover) {
    .link:hover {
      opacity: 1;
      box-shadow: none;
    }

    .link:hover::after {
      opacity: 1;
    }
  }
}
