@layer feature {
  .link {
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 15px;
    box-shadow: var(--neumorphism-shadow);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .link::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--neumorphism-shadow-hover);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .post {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    padding: 1em;
  }

  .postInner {
    display: grid;
    gap: 0.25em;
    margin-top: 1em;
  }

  .title {
    color: inherit;
    font-size: var(--font-size-m);
    font-weight: 500;
  }

  .eyecatch {
    display: block;
  }

  .thmubnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }

  @media (any-hover: hover) {
    .link:hover {
      opacity: 1;
      box-shadow: none;
    }

    .link:hover::after {
      opacity: 1;
    }
  }
}
