@layer feature {
  .aside {
    position: sticky;
    top: 80px;
    z-index: 1;
    display: block;
  }

  .aside > * + * {
    margin: 30px 0 0;
  }

  .container {
    padding: 8px;
    margin: -8px;
  }

  .arrowIcon {
    transition: transform 0.3s ease;
  }

  .container[open] .arrowIcon {
    transform: rotateX(0.5turn);
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
  }

  .list > li span {
    font-size: var(--font-size-s);
  }

  .listIetmTitle {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content;
    font-size: var(--font-size-m);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    box-shadow: var(--neumorphism-shadow-sm);
    margin-bottom: 0.5em;
    padding: 1em;
    border-radius: 10px;
  }

  .listIetmTitle::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--neumorphism-shadow-sm-hover);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    .listIetmTitle:hover {
      box-shadow: none;
    }

    .listIetmTitle:hover::after {
      opacity: 1;
    }
  }

  .listItemTitleIcon {
    color: inherit;
  }

  .listIetmTitleText {
    padding-left: 0.5em;
  }

  @media screen and (width >= 1080px) {
    .aside {
      width: 280px;
    }
  }
}
