@layer feature {
  .container {
    margin: 3rem auto;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .listItem {
    font-size: var(--font-size-m);
    text-align: center;
  }

  .pageLink {
    position: relative;
    text-decoration: none;
    display: grid;
    place-content: center;
    width: 44px;
    height: 44px;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border-radius: 10px;
    box-shadow: var(--neumorphism-shadow);
    transition: box-shadow 0.3s ease;
  }

  .pageLink::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--neumorphism-shadow-hover);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .omit {
    pointer-events: none;
    box-shadow: none;
  }

  .currentText {
    pointer-events: none;
    box-shadow: var(--neumorphism-shadow-hover);
    color: var(--theme-primary);
    font-weight: 700;
  }

  @media (any-hover: hover) {
    .pageLink:hover {
      opacity: 1;
      box-shadow: none;
    }

    .pageLink:hover::after {
      opacity: 1;
    }
  }
}
