@layer feature {
  .postDateContainer {
    margin-top: auto;
    font-size: var(--font-size-s);
  }

  .postDate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3em 0.6em;
  }

  .postDateIcon {
    color: var(--theme-primary);
  }
}
