.toc {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  margin: 1em 0;
  border-radius: 4px;
}

.arrowIcon {
  transition: transform 0.3s ease;
}

.details[open] .arrowIcon {
  transform: rotateX(0.5turn);
}

.title {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  color: inherit;
  font-size: var(--font-size-m);
  font-weight: 500;
  padding: 1em;
}

.list {
  display: grid;
  grid-template-columns: minmax(1fr);
  gap: 0.5em;
  padding: 0 1em 1em 1em;
}

.list li {
  list-style-type: none;
  font-size: var(--font-size-m);
  font-weight: 400;
}

.list a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: color 0.3s ease;
}

@media (any-hover: hover) {
  .list a:hover {
    opacity: 1;
    color: var(--theme-primary);
  }
}

.list li.level2 {
  font-weight: 500;
  margin-inline: 1rem;
}

.list li.level3 {
  margin-inline: 2rem;
}
