@layer feature {
  .link {
    text-decoration: none;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: color 0.3s ease;
  }

  .icon {
    color: var(--text-primary);
    margin-right: 0.5em;
    transition: color 0.3s ease;
  }

  .name {
    font-size: var(--font-size-m);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    transition: color 0.3s ease;
  }

  .badge {
    display: block;
    padding: 0.25em;
    border-radius: 9999px;
    min-width: 24px;
    font-size: var(--font-size-s);
    text-align: center;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    transition: color 0.3s ease;
  }

  @media (any-hover: hover) {
    .link:hover {
      opacity: 1;
      color: var(--theme-primary);
    }

    .link:hover .icon {
      color: var(--theme-primary);
    }

    .link:hover .name {
      color: var(--theme-primary);
    }

    .link:hover .badge {
      color: var(--theme-primary);
    }
  }
}
