@layer feature {
  .container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9998;
    aspect-ratio: 1;
    background-color: var(--theme-primary);
    width: 40px;
    border-radius: 9999px;
    color: var(--white);
    font-size: calc(16 / var(--font-size) * 1rem);
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .container.add-show {
    opacity: 1;
    visibility: visible;
  }
}
