@layer feature {
  .container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9998;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    background-color: var(--bg-primary);
    width: 48px;
    border-radius: 9999px;
    color: var(--theme-primary);
    font-size: calc(18 / var(--font-size) * 1rem);
    transition: opacity 0.3s ease, visibility 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--neumorphism-shadow);
  }

  @media (any-hover: hover) {
    .container.add-show:hover {
      opacity: 1;
      box-shadow: var(--neumorphism-shadow-hover);
    }
  }

  .container.add-show {
    opacity: 1;
    visibility: visible;
  }
}
